See attached for PO <%= @daily_order.display_po %> including inventory transfers for <%= @daily_order.outlet_name %> ordered today: <%= @daily_order.date.strftime('%m/%d/%y') %>.
<br />
<br />
<strong>Please email the completed packing slip to:</strong> <a href='mailto:johanna@mollusksurfshop.com'>Johanna@MolluskSurfShop.com</a>.
<br />
<br />
Thank you!
