<div id="filterrific_results">

  <table class="products full_width">
    <tr>
      <th>Date</th>
      <th>Store</th>
      <th>Sales Order ID</th>
      <th>Link</th>
    </tr>
    <% wholesale_orders.each do |threshold| %>
      <tr>
        <td><%=  %></td>
        <td><%=  %></td>
        <td><%=  %></td>
        <td><%=  %></td>
      </tr>
    <% end %>
  </table>
</div>
