<% provide(:title, 'Daily Thresholds') %>

<h2 class='center'>Daily Thresholds</h2>

<%= render(
  partial: 'daily_order_thresholds/list',
  locals: { inventory_thresholds: @inventory_thresholds }
) %>
