<div id="filterrific_results">

  <table class="products full_width">
    <tr>
      <th>Product Type</th>
      <th>Threshold</th>
    </tr>
    <% inventory_thresholds.each do |threshold| %>
      <tr>
        <td><%= threshold.product_type %></td>
        <td><%= threshold.threshold %></td>
      </tr>
    <% end %>
  </table>

</div>
