<div id="filterrific_results">

  <table class="products full_width">
    <tr>
      <th>Product Type</th>
      <th>Size</th>
      <th>Fill</th>
    </tr>
    <% inventory_thresholds.each do |threshold| %>
      <tr>
        <td><%= threshold['Category'] %></td>
        <td><%= threshold['Size'] %></td>
        <td><%= threshold['WH Fill'] %></td>
      </tr>
    <% end %>
  </table>
</div>
