<% provide(:title, 'Fluid Inventory Thresholds') %>

<h2 class='center'>Fluid Inventory Thresholds</h2>

<%= render(
  partial: 'fluid_inventory_thresholds/list',
  locals: { inventory_thresholds: @inventory_thresholds, inventory_thresholds_old: @inventory_thresholds_old }
) %>
