<tr>
  <td><%= link_to user.name, user %></td>
  <td><%= user.email %></td>
  <% if current_user.admin? %>
    <td>
      <% if !current_user?(user) %>
        <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
      <% end %>
    </td>
  <% end %>
</tr>
