<% provide(:title, 'All users') %>

<table class="full_width">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <% if current_user.admin? %>
      <th>Actions</th>
    <% end %>
  </tr>
  <%= render @users %>
</table>
<div class='row addauser'>
  <a href="/users/new" style='float:right' role="button">
    <button class="btn btn-primary">Add User</button>
  </a>
</div>

<%= will_paginate %>
