<% provide(:title, 'All users') %>

<table class="full_width">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <% if current_user.admin? %>
      <th>Actions</th>
    <% end %>
  </tr>
  <%= render @users %>
</table>

<a href="/users/new" role="button">
  <button class="btn btn-primary btn-sm mt-4"><i class='fa fa-user-plus'></i> Add User</button>
</a>

<%= will_paginate %>
