<% provide(:title, 'All users') %>
<h1>All users</h1>
<div class='row'>
<a href="/users/new" style='float:right' role="button"><button class="btn btn-primary">Add User</button></a>
</div>
<table class="users">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <% if current_user.admin? && !current_user?(user) %>
      <th>Actions</th>
    <% end %>
  </tr>
  <%= render @users %>
</table>

<%= will_paginate %>
