<div id="filterrific_results">
  <table class="products full_width">
    <tr>
      <th>When?  (PST / PDT)</th>
      <th>Location</th>
      <th>Total Orders</th>
      <th>PO</th>
      <th>QBO</th>
      <th>Actions</th>
    </tr>
    <% daily_orders.each do |date, orders| %>
      <tr>
        <td class='border-bottom' rowspan='3' style='background-color: #FFFFFF'><%= date.in_time_zone("Pacific Time (US & Canada)").to_s(:humanized_ago) %></td>
        <td class='border-bottom' rowspan='3' style='background-color: #FFFFFF'><%= VendClient::OUTLET_NAMES_BY_ID[orders.first.outlet_id] %></td>
        <td>order.orders.count</td>
        <% orders.each do |order| %>
          <td></td>
          <td></td>
          <td></td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
