<% provide(:title, 'Daily Orders') %>

<h2 class='center'>Daily Orders</h2>

<%= render(
  partial: 'daily_orders/list',
  locals: { daily_orders: @daily_orders.group_by { |order| order.date } }
) %>

<div class='center'>
  <%= will_paginate @daily_orders %>
</div>