<% if @product.shopify_duplicates.present? %>
  <hr/>
  <h2 class='center'>Shopify Duplicates:</h2>
  <table class='full_width'>
    <tr>
      <th>When?</th>
      <th>Original Variant</th>
      <th>Duplicate Variant</th>
    </tr>

    <% @product.shopify_duplicates.sort { |a,b| b.updated_at <=> a.updated_at }.each do |duplicate| %>
      <tr>
        <td><%= duplicate.updated_at.in_time_zone("Pacific Time (US & Canada)").to_s(:humanized_ago) %></td>
        <td><a href='<%= duplicate.original_shopify_link %>'>Original Variant <i class='fa fa-external-link-alt'></i></a></td>
        <td><a href='<%= duplicate.duplicate_shopify_link %>'>Duplicate Variant <i class='fa fa-external-link-alt'></i></a></td>
      </tr>
    <% end %>
  <table>
<% end %>
