<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="/inventory_updates">Inventory Updates</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/products">Products</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/users">Users</a>
  </li>
</ul>