<ul class="nav nav-tabs">
  <li class="<%= "highlighted" if params[:controller] == "inventory_updates" %> nav-item">
    <a class="nav-link" href="/inventory_updates">Inventory Updates</a>
  </li>
  <li class="<%= "highlighted" if params[:controller] == "products" %> nav-item">
    <a class="nav-link" href="/products">Products</a>
  </li>
  <li class="<%= "highlighted" if params[:controller] == "products" %> nav-item">
    <a class="nav-link" href="/fluid_inventory_thresholds">Fluid Inventory Thresholds</a>
  </li>
  <li class="<%= "highlighted" if params[:controller] == "users" %> nav-item">
    <a class="nav-link" href="/users">Users</a>
  </li>
</ul>
